 <div class="homedes">
  <h3 class="descriptionHome">Find job opportunities based on your experience</h3>
 </div>
  <div class="formdiv"> 
 <form (ngSubmit)="onSubmit(experience)">
    
      <mat-form-field appearance="fill">
        <mat-label>Experience Level</mat-label>
        <mat-select  ngModel #experience="ngModel" [(ngModel)]="selectedValue" name="experience">
          <mat-option *ngFor="let experience of experiences" [value]="experience.value">
            {{experience.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="onSubmit(experience)">search</button>
  </div>

 <table *ngIf='jobs.length>0' class="table">
  <thead>
      <tr>
          <th>Job</th>
          <th>Location</th>
          <th>Company</th>
      </tr>
  </thead>
  <tbody>
     
          <tr *ngFor='let job of jobs'>
            <a [routerLink]= "['JobDetails', job.id]">
            <td >
                  {{job.name}}
                  
              </td>
            </a>
              <td>
                <span *ngFor='let location of job.locations'>
                  {{location.name}}
                 </span>
              </td>
              <td>
                {{job.company.name}}  
              </td>
          </tr>
      
       
     
      
  </tbody>
</table>
