.mat-typography {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
}
table.table {
  display: table;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 10px;
}
html,
body {
  flex-direction: column;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
html {
    display: table;
  height: 100vh;
}
.logo {
  position: fixed;
  left: 0;
  padding-left: 20px;
}
.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}
